@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(252.44deg, #3F88D4 0%, #4AF6C3 100%);
}


 main .log-in {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 20px;
    background-color: white;
    height: 80vh;
    width: 60%;
    background: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

main .log-in #welcome {
    font-size: xx-large;
}

main .log-in .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    background-color: white;
    height: 50vh;
    width: 40%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}

main .log-in .login-form input{
    width: 150px;
}

main .log-in .login-form .wrapper-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    color: black;
}

main .log-in .login-form .wrapper-footer .login-btn{
    display: block;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #57B82A;
    color: black;
    border-radius: 50px;
}

main .log-in .login-form .wrapper-footer .login-btn:hover{
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #57B82A;
}

main .log-in .login-form .wrapper-footer #signup-footer {
    color: black;
    padding: 5px;
}

main .log-in .login-form .wrapper-footer #signup-footer:hover {
    border-style: solid;
    border-width: 3px;
    border-color: #57B82A;
}